
    .font-size-s {
        font-size: 0.5rem;
    }

    .font-size-m {
        font-size: 0.75rem;
    }

    .font-size-l {
        font-size: 1rem;
    }

    .font-size-xl {
        font-size: 1.25rem;
    }
    .font-size-xxl{
         font-size: 1.5rem;
    }

