.sign-in-container {
    min-height: 100vh;
    background: linear-gradient(275deg, #C950C2, #6E82E6, #5BCCDD);
    display: flex;


    .sign-in {
        border-radius: 25px;
        padding: 20px;
        min-width: 475px;
        margin: auto;
        background: white;
        display: flex;
        justify-content: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
    }

    .sign-in-title {
        justify-content: center;
        align-items: center;
    }

    .remember-me {
        align-items: center;
    }

    .remember-me-text {
        padding-bottom: 5px;
    }
    .login-link{
        justify-content: flex-end;
    }
}